#
# pub
#
pub/.dart_tool/
pub/.packages
pub/build/
pub/flutter*.log
pub/tests
pub/.flutter-plugins*
pub/analysis-options.yaml

#
# vscode
#
vscode/node_modules/
vscode/.vscode-test
vscode/out
vscode/dist
