name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      commit_id: ${{ steps.commit_id.outputs.changes_detected && steps.commit_id.outputs.commit_hash || github.sha }}

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - run: flutter --version

      - uses: ./.github/workflows/install_dependencies_job
      - uses: ./.github/workflows/build_job

      - uses: stefanzweifel/git-auto-commit-action@v4
        id: commit_id
        with:
          commit_message: Commit automated build
          # Create a temporary branch to run tests on if it is a PR from a fork
          create_branch: ${{ github.event.pull_request && github.event.pull_request.head.repo.full_name != github.repository }}
          # Label the branch by run_id and run_attempt if it is a PR from a fork
          # OR use the head branch if it is not
          branch: ${{ github.event.pull_request.head.repo.full_name != github.repository && join([github.run_id, github.run_attempt], '-') || github.head_ref }}

      - run: echo ${{ steps.commit_id.outputs.commit_hash }}

  at_app_bundler:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.repo.full_name != github.repository && join([github.run_id, github.run_attempt], '-') || needs.build.outputs.commit_id }}

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - run: dart pub global run melos bootstrap

      - name: Dart Analyze
        working-directory: ./packages/at_app_bundler
        # The mason brick in at_app_bundler is not valid dart code
        # Must analyze each directory individually
        run: |
          dart analyze ./lib
          dart analyze ./bin

  at_app_create:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.repo.full_name != github.repository && join([github.run_id, github.run_attempt], '-') || needs.build.outputs.commit_id }}

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - run: dart pub global run melos bootstrap

      - name: Dart Analyze
        working-directory: ./packages/at_app_create
        run: dart analyze

  at_app_flutter:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.repo.full_name != github.repository && join([github.run_id, github.run_attempt], '-') || needs.build.outputs.commit_id }}

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - run: dart pub global run melos bootstrap

      - name: Dart Analyze
        working-directory: ./packages/at_app_flutter
        run: dart analyze

      - name: Unit Tests
        working-directory: ./packages/at_app_flutter
        run: flutter test

  at_app:
    needs: build
    runs-on: ubuntu-latest
    outputs:
      build_key: ${{ needs.build.outputs.build_key }}

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.repo.full_name != github.repository && join([github.run_id, github.run_attempt], '-') || needs.build.outputs.commit_id }}

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - run: dart pub global run melos bootstrap

      - name: Dart Analyze
        working-directory: ./packages/at_app
        run: dart analyze

      - name: Unit Tests
        working-directory: ./packages/at_app
        run: dart test

  # GENERATED APP TESTS

  # App Templates
  generate-app_template:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.repo.full_name != github.repository && join([github.run_id, github.run_attempt], '-') || needs.build.outputs.commit_id }}

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - run: dart pub global run melos bootstrap

      - uses: ./.github/workflows/generated_app_job
        with:
          type: template
          name: app

  # Sample Apps
  generate-at_onboarding_flutter_sample:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.repo.full_name != github.repository && join([github.run_id, github.run_attempt], '-') || needs.build.outputs.commit_id }}

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - run: dart pub global run melos bootstrap

      - uses: ./.github/workflows/generated_app_job
        with:
          type: sample
          name: at_onboarding_flutter

  generate-at_contacts_flutter_sample:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.repo.full_name != github.repository && join([github.run_id, github.run_attempt], '-') || needs.build.outputs.commit_id }}

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - run: dart pub global run melos bootstrap

      - uses: ./.github/workflows/generated_app_job
        with:
          type: sample
          name: at_contacts_flutter

  # Demo Apps
  generate-snackbar_demo:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.repo.full_name != github.repository && join([github.run_id, github.run_attempt], '-') || needs.build.outputs.commit_id }}

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - run: dart pub global run melos bootstrap

      - uses: ./.github/workflows/generated_app_job
        with:
          type: demo
          name: snackbar

  generate-snackbar_sender_demo:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.repo.full_name != github.repository && join([github.run_id, github.run_attempt], '-') || needs.build.outputs.commit_id }}

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - run: dart pub global run melos bootstrap

      - uses: ./.github/workflows/generated_app_job
        with:
          type: demo
          name: snackbar_sender

  generate-chit_chat_demo:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.repo.full_name != github.repository && join([github.run_id, github.run_attempt], '-') || needs.build.outputs.commit_id }}

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - run: dart pub global run melos bootstrap

      - uses: ./.github/workflows/generated_app_job
        with:
          type: demo
          name: chit_chat

  dispose:
    runs-on: ubuntu-latest

    if: ${{ always() }} # Always dispose, regardless of whether jobs pass or fail
    needs: # Needs everything to run before we dispose
      - build
      - at_app_bundler
      - at_app_create
      - at_app_flutter
      - at_app
      - generate-app_template
      - generate-at_onboarding_flutter_sample
      - generate-at_contacts_flutter_sample
      - generate-snackbar_demo
      - generate-snackbar_sender_demo
      - generate-chit_chat_demo

    steps:
      - name: Dispose of temporary branch
        if: ${{ github.event.pull_request && github.event.pull_request.head.repo.full_name != github.repository }}
        uses: dawidd6/action-delete-branch@v3
        with:
          github_token: ${{ github.token }}
          branches: ${{ join([github.run_id, github.run_attempt], '-') }}
